{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/diagnostic_case_panel.css') }}">

<div class="diagnostic-container">
    <h2>Diagnostic Case Panel</h2>

    <!-- Form to Select Diagnostic Case -->
    <form method="POST" action="/diagnostic_case_panel/get_case">
        <input type="text" name="case_input" placeholder="Enter diagnostic case..." required>
        <button type="submit">Submit</button>
    </form>

    {% if case_name %}
    <h3>Results for Case: {{ case_name }}</h3>
    {% if case_data %}
        <!-- Image List Section -->
        <div class="image-preview-list" id="image-preview-list">
            {% for image in case_data %}
                <div class="image-preview-item"
                     onclick="showFullImage('{{ image.data }}', '{{ image.filename }}')">
                    <img src="data:image/png;base64,{{ image.data }}" alt="{{ image.filename }}" class="preview-icon">
                    <p class="hidden" id="'{{ image.filename }}'">{{ image.grids | tojson }}</p>
                    <p class="hidden" id="'{{ image.filename }}'_masks">{{ image.masks }}</p>
                    <div class="image-description">
                        <h4>{{ image.filename }}</h4>
                        <p>Image Shape: {{ image.image_shape }}</p>
                        {% if image.decompressed_results %}
                            <p>Analysis: {{ image.decompressed_results[0].metadata.class }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Full Image View Section -->
        <div class="full-image-container" id="full-image-container" style="position: relative; display: none;">
            <div class="draggable-buttons" id="draggable-buttons">
                <button class="button" id="back-button" onclick="hideFullImage()">Back</button>
                <button class="button" id="grid-button" onclick="showGrid()">Show Grid</button>
                <button class="button" id="box-button" onclick="showBoxes()">Show Tissue Boxes</button>
                <button class="button" id="mask-button" onclick="showMasks()">Show Tissue Segements</button>
            </div>
            <img id="full-image" src="" alt="Full Image" class="full-image">
            <svg id="grid-overlay" viewBox="0 0 4000 3000"></svg>
            <svg id="box-overlay" viewBox="0 0 4000 3000"></svg>
            <svg id="mask-overlay" viewBox="0 0 4000 3000"></svg>
            <p id="full-image-title" class="hidden"></p>
        </div>



    {% else %}
        <p>No images found for this case.</p>
    {% endif %}
    {% endif %}
</div>

<script src="{{ url_for('static', filename='js/diagnostic_case_panel.js') }}"></script>
{% endblock %}
